@font-face {
    font-family: Open Sans Condensed;
    src: url('../fonts/OpenSansCondensed-Light.ttf');
    font-weight: 400;
    font-display: block;
  }
  
  @font-face {
    font-family: Open Sans Condensed;
    src: url('../fonts/OpenSansCondensed-Light.ttf');
    font-weight: 500;
  }
  
  @font-face {
    font-family: Open Sans Condensed;
    src: url('../fonts/OpenSansCondensed-Light.ttf');
    font-weight: 700;
    font-display: block;
  }
  
  